{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="form_flex">
    <div class="form">
        <h3>Inscription</h3>

        {{ form_start(registrationForm) }}
            {{ form_widget(registrationForm) }}
            <div class="mb-3">
            <a href="{{ path('app_login') }}">Vous avez deja un compte ?</a>
            </div>
            <button type="submit" class="btn btn-primary rounded-pill form_button">S'inscrire</button>
        {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}
