// couleurs
:root{
    --app-background : #fef9f3;
    --app-color-text : #4e5658;
    --app-color-component : #5496bf;
    --app-color-component-light: #A4c3d7;
    --app-color-component-extralight: #d5e0e6;
}