{% extends 'base.html.twig' %}

{% block title %}Hello RatingsController!{% endblock %}

{% block body %}
    {# {% for rating in ratings %}
        <p>{{rating.note}}</p>  
        <p>{{rating.comment}}</p> 
    {% endfor %} #}
{% endblock %}
