{% extends "base.html.twig" %}


{% block body %}

    <div class="main_index">
        <div class="part1">
            <h1>Bienvenue</h1>

            <h2>dans notre magasin vintage</h2>

            <p>Généralement, on utilise un texte en faux latin 
            (le texte ne veut rien dire, il a été modifié), 
            le Lorem ipsum ou Lipsum, qui permet donc de 
            faire office de texte d'attente.
            L'avantage de le mettre en latin est que l'opérateur 
            sait au premier coup d'oeil que la page contenant ces
                lignes n'est pas valide, et surtout l'attention du client 
                n'est pas dérangée par le contenu, il demeure concentré 
                seulement sur l'aspect graphique.</p>

            <button class="shop">Shop now</button>

        </div>
        {# <a href="#" class="button button-pulse">
        <div class="part2">
            <button>Regarder tous les produits</button>
        </div>
        </a> #}

         <a href="#" class="button button-pulse rounded-circle">Regarder <br> tous les  <br>produits</a>
        
    
    </div>
    
        
{% endblock %}