// Lien Utilisateur (PROFIL ADMIN ET TOUS LES USERS)
.container_user{
    display: flex;
    align-items:baseline;
    .profil_user{
        width: 35%;
        margin: 2em;
        h1{
            // text-align: center;
            margin: 1em;
        }
        .profil{ 
            margin-left: 2em;
            table{
                tbody{
                    tr{
                       border: none;
                       margin: 1em;
                       th{
                            padding: 0.5em;
                       }
                       td{
                            padding: 0.5em;
                       }
                    }
                }
            }
        }
        button{
            border: none;
            background-color: #5496bf ;
            border-radius: 2em;
            padding: 0.5em;
            margin: 1em;
            a{
                text-decoration: none;
                color: #fef9f3;
            }
        }
        
    }
    .users{
        width: 65%;
        margin: 2em;
        h1{
            text-align: center;
            margin: 1em;
        }
        table{
            thead{
                tr{
                    th{
                        padding: 0.5em;
                    }
                }
            }
            tbody{
                tr{
                   border: none;
                   margin: 0.5em;
                   td{
                       text-align: center;
                        padding: 0.5em;
                        button{
                            border: none;
                            background-color: #5496bf ;
                            border-radius: 2em;
                            padding: 0.5em;
                            margin: 1em;
                            a{
                                text-decoration: none;
                                color: #fef9f3;
                            }
                        }
                   }
                }
                tr:nth-child(odd){
                    background-color: #d5e0e6;
                }
            }
        }
        button{
            border: none;
            background-color: #5496bf ;
            border-radius: 2em;
            padding: 0.5em;
            margin: 1em;
            a{
                text-decoration: none;
                color: #fef9f3;
            }
        }
    }
}
// Lien pour afficher tous les commentaires
.container_comment{
    margin: 5em 0;
    .comment_user{
        width: 100%;
        margin: 2em 0;
        h1{
            margin: 1em;
        }
        table{
            thead{
                tr{
                    padding: 2em;
                    th{
                        padding: 0.5em;
                        text-align: center;
                    }
                }
            }
            tbody{
                tr{
                   border: none;
                   margin: 0.5em;
                   padding: 2em;
                   td{
                       text-align: center;
                        padding: 0.5em;
                        button{
                            border: none;
                            background-color: #5496bf ;
                            border-radius: 2em;
                            padding: 0.5em;
                            margin: 1em;
                            a{
                                text-decoration: none;
                                color: #fef9f3;
                            }
                        }
                   }
                }
                tr:nth-child(odd){
                    background-color: #d5e0e6;
                }
            }
        }
    }
}
// Lien pour les commandes et stats
.container_commandes{
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    flex-direction: column;
    margin: 5em 0;
    .commandes{
        width: 55%;
        .comm:nth-child(even){
            background-color: #d5e0e6;
        }
        table{
            tbody{
                tr{
                   border: none;
                   margin: 1em;
                   th{
                        padding: 0.5em;
                   }
                   td{
                        padding: 0.5em;
                   }
                }
                
            }
            
        } 
           
    }
    canvas{
        width: 30%;
        height: 500vh;
    }
    button{
        border: none;
        background-color: #5496bf ;
        border-radius: 2em;
        padding: 0.5em;
        margin: 1em;
        a{
            text-decoration: none;
            color: #fef9f3;
        }
    }
    
}
// Tous les produits
.container_produits{
    .new_produit{
        margin: 3em 0;
        button{
            border: none;
            background-color:#5496bf ;
            border-radius: 2em;
            margin: 0.5em;
            padding: 1em;
            a{
                text-decoration: none;
                color:#fef9f3 ;
            }
        }
    }
}