{% extends 'base.html.twig' %}

{% block title %}RetroShop - Commandes{% endblock %}

{% block body %}

  <section class="container_purchase">
      <h1>Aucune commande trouvé pour {{app.user.username}}</h1>
  </section>
  
{% endblock %}
