@import '~bootstrap/scss/bootstrap';
@import "1-theme/theme";
@import "2-fonts/fonts";
@import "3-layout/layout";
@import "4-header/header";
@import "5-footer/footer";
@import "6-main/main";
@import "7-bootstrap/bootstrap";

// html, body {
//     background-color: var(--app-background);
//     color: var(--app-color-text);
//     // text-align: center;
    
// }

html, body{
    margin-left: 6em;
    margin-right: 6em;
}

i {
    margin-left: 0.3em;
    margin-right: 0.3em;
}


// margin de bricolage

.marginSuggestions {
    margin-top: 6em;
    margin-bottom: 1em;
  }
  
  .marginProducts {
    margin-top: 3em;
    margin-bottom: 1em;
  }