<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet"> 
        
        <title>{% block title %}RetroShop{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            
        {% endblock %}

        
        <script src="https://kit.fontawesome.com/00fca59a8b.js" crossorigin="anonymous"></script>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class = "bg-light">
        {% include '_partial/_navbar.html.twig' %}
        {% block body %}{% endblock %}
        {% block footer %}
            <footer>
                <div class="foot">
                    <div class="logo">
                        <h1>logo</h1>
                        <p>92 rue Henri Depagnieux</p>
                        <p>69400 Limas</p>
                    </div>
                    
                    <div class="group">
                        <div class="contact">
                            <h3>Contact</h3>
                            <p><i class="fas fa-phone-alt"></i>04.00.00.00.00</p>
                            <p><i class="fas fa-envelope"></i>contact@retroshop.com</p>

                        </div>

                        <div class="mention">
                            <h3>Conditions</h3>
                            <a href="#">Conditions Générales de Vente</a>
                            <a href="#">Condition Générales d'Utilisation Marketplace</a>
                            <a href="#">Protection de la vie privée et cookies</a>
                            <a href="#">Mentions Légales</a>
                            <a href="#">FAQ</a>
                        </div>
                    </div>

                    <div class="sociaux">
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-linkedin-in"></i>
                        <i class="fab fa-facebook"></i>
                    </div>
                </div>

                <p class="copy"> &copy; RetroShop 2021 | Développé avec <i class="fas fa-heart"></i> par Anaëlle - Brayan - Kévin et Quentin </p>
            </footer>
        {% endblock %}
    </body>
</html>
