{% extends 'base.html.twig' %}

{% block title %}Erreur de paiement{% endblock %}

{% block body %}
    <h2>Erreur de paiement</h2>
    <p>
        Bonjour <strong>{{ purchase.user.prenom }} {{ purchase.user.nom }}</strong>,<br/><br/>
        Il semblerait que votre paiement est échoué pour votre commande n°<strong>{{ purchase.reference }}</strong>.<br/>
        Une confirmation d'erreur vient de vous être envoyée par email à l'adresse <strong>{{ purchase.user.email }}</strong>.
    </p>
    <a href="" class="btn btn-success">Réessayer le paiement</a>
{% endblock %}
