{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}

    <div class="testbodynew">
    <div class="newarticle">
    <h1>Create new Article</h1>

    {{ include('article/_form.html.twig') }}

    <a href="{{ path('article_index') }}">back to list</a>
    </div>
    </div>
    
    
{% endblock %}
