<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        {% if app.user.roles[1] is defined %}

          {% if app.user.roles[1] %}
          
          <li>
            <a class="nav-link" href={{path("user_index")}}>Tous les Utilisateurs</a>
          </li>
          <li>
            <a class="nav-link" href={{path("purchase_index")}}>Toutes les Commandes</a>
          </li>

          {% else %}
           <li>
            
           </li>
          {% endif %}

        {% endif %}

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Categorie
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/category/article/jeux">Jeux Rétro</a></li>
            <li><a class="dropdown-item" href="/category/article/jouet">Jouets Rétro</a></li>
            <li><a class="dropdown-item" href="/category/article/librairie">Librairie</a></li>
            <li><a class="dropdown-item" href="/category/article/films">Films</a></li>
            <li><a class="dropdown-item" href="/category/article/odit">Musique</a></li>
            <li><a class="dropdown-item" href="/category/article/Vêtements">Vêtements</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Autre</a></li>
          </ul>
        </li>

     
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
 

    <p>Our website is in maintenance mode. Please, come back later.</p>


{# {% for user in users %}
  {{dump(app.session('users'))}}
  {{ user.roles[0] ? user.roles|json_encode : '' }}
{% endfor %} #}
{# {% if user.roles == ["ROLE_ADMIN"]%}
  <h1>HELLOCOUPCU ADMIN</h1>
{% else %}
 <h1> HELLO COUOCU USER</h1>
 {% endif %} #}